:root {
  --dark-blue: #32474d;
  --light-blue: #849ca2;
  --dark-brown: #3d2a19;
  --light-brown: #b89e86;
  --white: #eff8f9;
}

#abouts {
  padding-top: 0px;
  margin-top: -100px;
  background-color: var(--dark-blue);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), var(--light-blue) 20%, var(--dark-blue) 90%, rgba(0, 0, 0, 0.56));
  height: 800px;
  font-size: 36px;
  overflow-x: hidden;
}

.about h2 {

  text-align: center;
  color: var(--white);
  font-style: normal;
  margin: 100px;
  text-shadow: 5px 3px 3px var(--dark-blue);
  letter-spacing: 30px;
  font-size: 36px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutBlock {
  display: block;
  background: var(--light-brown);
  border: 3px solid var(--dark-brown);
  border-radius: 30px;
  margin: 30px;
  padding: 15px;
  font-size: 30px;
}
