:root {
  --dark-blue: #32474d;
  --light-blue: #849ca2;
  --dark-brown: #3d2a19;
  --brown: #3d2a19;
  --light-brown: #b89e86;
  --white: #eff8f9;
}

.background {
  min-height: 1000px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg1 {
  background-image: url("../assets/images/DSC_9519.JPG");
  min-height: 900px;
}

#bg2 {
  background-image: url("../assets/images/DSC_5822.jpg");
}

#filler {
  background-color: var(--dark-brown);
  height: 300px;
  font-size: 36px;
}

.profile {
  position: relative;
  top: 9em;
  display: flex;
  width: 100%;
}

.profile-section {
  margin: 30px;
  width: 50%;
}

#photo {
  border: 3px black solid;
  border-radius: 400px;
  background-image: url("../assets/images/person_profile_pic.jpg");
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 500px;
  height: 500px;
  transition: 0.3s;
}

@media only screen and (max-width: 1200px) {
  #photo {
    width: 300px;
    height: 300px;
    margin-top: 4em;
  }

  #profile-content {
    overflow-y: hidden;
    margin-top: 0;
  }
}

#profile-content {
  display: block;
  margin-right: auto;
  transition: 0.3s;
  margin-top: 4em;
}

#profile-content h2 {
  color: var(--white);
  font-size: 40px;
  letter-spacing: 10px;
  text-decoration: none;
}

#profile-content p {
  display: inline-block;
  padding: 20px 40px 20px 15px;
  font-size: 20px;
  margin-right: 3em;
  border: var(--light-blue) solid 3px;
  background-color: var(--light-brown);
  border-radius: 20px 20px 20px 20px;
}

.resume-link {
  display: flex;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  transition: 0.5s;
}

.resume-link:hover {
  text-shadow: 2px 2px var(--light-blue);
}
