:root {
  --dark-blue: #32474d;
  --light-blue: #849ca2;
  --dark-brown: #3d2a19;
  --brown: #3d2a19;
  --light-brown: #b89e86;
  --white: #eff8f9;
}

#projects {
  padding-top: 100px;
  margin-top: -100px;
  background-color: var(--dark-blue);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), var(--dark-blue) 20%, var(--light-blue) 90%, rgba(255, 255, 255, 0.5));
  height: 800px;
  font-size: 36px;
  overflow-x: hidden;
}

#projects h2 {
  padding: 5px;
  text-align: center;
  color: var(--white);
  letter-spacing: 30px;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cards {
  display: grid;
  position: relative;
  left: -10%;
  width: 120%;
  align-self: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
}

.button {
  background: transparent;
  border: none;
}

#buttonleft {
  left: 10%;
}

#buttonright {
  right: 10%;
}

.button #buttonleft,
#buttonright {
  bottom: 50%;
  position: absolute;
  font-size: 30px;
  background-color: none;
}

.projectCard div {
  border: 3px solid var(--dark-brown);
  background: var(--light-brown);
  border-radius: 40px;
  margin: 5px;
  min-height: 400px;
  transition: 1s;
}

.button .projectCard div {
  filter: blur(2px);
}

.project-link {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  letter-spacing: 6px;
  color: var(--white);
  transition: .3s;
}

.project-link:hover {
  opacity: 0.8;
}

.change {
  color: rgb(0, 0, 0, 0.1);
  filter: blur(2px)
}

.bottom {
  text-align: left;
  position: relative;
  top: 150px;
  padding-left: 3px;
}

.bottom p {
  padding-left: 3px;
}

.bottom a {
  color: var(--white);
}
